body {
  height: auto;
  min-height: 100%;
  background: rgb(110, 5, 159);
  background: linear-gradient(309deg, rgba(110, 5, 159, 1) 35%, rgba(0, 159, 178, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


h6,
p,
h4,
h5,
.btn {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-weight: 800;
}
h5,
h6,
h6.name {
  font-weight: 600;
}
p {
  font-weight: 300;
}

textarea {
  border-radius: 14px !important;
  border: none;
  box-shadow: 5px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 4px 15px -5px rgba(0, 0, 0, 0.3);
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
}

.btn-primary {
  border: none;
  border-radius: 10px;
  /* width: 120px; */
  margin-right: 5px;
  background: rgb(94, 0, 127);
  background: linear-gradient(309deg, rgba(94, 0, 127, 1) 35%, rgba(22, 23, 143, 1) 100%);
  box-shadow: 5px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 4px 15px -5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  color: #fff;
  filter: saturate(1.9);
  background: rgb(22, 23, 143);
  background: linear-gradient(309deg, rgba(22, 23, 143, 1) 35%, rgba(94, 0, 127, 1) 100%);
  transform: scale(1.05);
}

.btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}

.reset {
  border: none;
  width: 70px !important;
  border-radius: 10px;
  width: 90px;
  margin-right: 5px;
  background: rgb(175, 81, 25);
  background: linear-gradient(309deg, rgba(175, 81, 25, 1) 35%, rgba(212, 164, 17, 1) 100%);
  box-shadow: 5px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 4px 15px -5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.reset:hover {
  filter: saturate(1.9);
  color: #fff;
  background: rgb(212, 164, 17);
  background: linear-gradient(309deg, rgba(212, 164, 17, 1) 35%, rgba(175, 81, 25, 1) 100%);
  transform: scale(1.05);
}

.reset:active {
  outline: none !important;
  box-shadow: none !important;
}

.profile {
  width: 600px;
  height: 90px;
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 4px 15px -5px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 576px) {
  .name {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: -20px;
  }
  .position {
    margin-top: -8px;
  }
}

@media screen and (max-width: 576px) {
  .name {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: -20px;
  }
  .position {
    margin-top: -8px;
    font-size: 12px;
  }
}

.kontributor {
  margin-top: 60px;
}
